<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Videojet Link Library</title>
    <link rel="stylesheet" href="/templates/style.css" />
</head>
 
<body>
 

<div class="company-header">
    <img src="/images/videojet.png" alt="Company Logo" />
    <a href="/admin" class="admin-login-btn">⚙️ Admin Panel</a>
</div>
 

<div class="logo-container" id="tools">
 
 
    <div class="logo-row">
        <a href="/jfrog"><img src="/images/jfrog.png" alt="JFrog Artifactory"></a>
        <a href="/jenkins"><img src="/images/Jenkins.png" alt="Jenkins"></a>
        <a href="https://jira.alltec-laser.com"><img src="/images/jira.png" alt="Jira Software"></a>
    </div>
 
 
    <div class="logo-row">
        <a href="https://crucible.alltec-laser.com/"><img src="/images/crucible.png" alt="Crucible"></a>
        <a href="https://confluence.alltec-laser.com"><img src="/images/confluence.png" alt="Confluence"></a>
        <a href="https://bamboo.alltec-laser.com/"><img src="/images/bamboo.png" alt="Bamboo"></a>
    </div>
 
</div>
 
<script src="/static/script.js"></script>
</body>
</html>

 
